/*############################################################
######################  Index  ###############################
############################################################*/

*, html {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-image: url("../assets/wallpaper.jpg");
  user-select: none;
  font-family: Arial;
}

header {
  background-color: #f2f2f2;
  margin-bottom: 20px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}

header h1 {
  font-size: 3em;
  text-align: center;
}

.container {
  display: flex;
  background-color: #fff;
  width: 1400px;
  height: 600px;
  overflow-x: auto;
  margin: 0 auto;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
}

.game {
  min-width: 350px;
  position: relative;
}

/*-- Colors for each game ---------------------------------------------------*/

.game:nth-child(even) {
  background-color: #959393;
  color: black;
}

.game:nth-child(odd) {
  background-color: #333333;
  color: white;
}

.game h2 {
  margin-top: 10px;
}

.game:nth-child(even) h2 {
  color: black;
}

.game:nth-child(odd) h2 {
  color: white;
}

/*-- Images for each game ---------------------------------------------------*/
#game_1 {
  background-image: url("../assets/game_icons/ic_remember_game.png");
}

#game_2 {
  background-image: url("../assets/game_icons/ic_jumping_game.png");
}

#game_3 {
  background-image: url("../assets/game_icons/ic_reflex_game.png");
}

#game_4 {
  background-image: url("../assets/game_icons/ic_snake_game.png");
}

#game_5 {
  background-image: url("../assets/game_icons/ic_shooting_game.png");
}

.game h2 {
  text-align: center;
}

/*-- Games resumes ----------------------------------------------------------*/

.game .resume {
  padding-left: 25px;
  padding-right: 25px;
}

.resumeBackground {
  width: 100%;
  height: 500px;
  top: 50px;
  position: absolute;
}

.resume {
  position: absolute;
  visibility: hidden;
  top: 200px;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s, transform 1s;
}

.resume:hover {
  transform: translateY(-50px);
  visibility: visible;
  opacity: 1;
}

.resumeBackground:hover + .resume {
  transform: translateY(-50px);
  visibility: visible;
  opacity: 1;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: grey;
}

::-webkit-scrollbar-thumb:hover {
  background: lightGrey;
}
